.home-heading {
  font-size: 3rem;
  padding: 0 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-black);
}

.info-button {
  background-color: var(--primary-white);
  font-weight: 600;
  font-size: 1.5rem;
  border: 0;
  border-radius: 5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 1rem;
  z-index: 10;
}

.info-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  background-color: var(--primary-white);
  color: var(--primary-black);
  transition: opacity 0.3s ease-out;
  max-height: 500px;
  max-width: 600px;
  position: relative;
  transition: transform 0.3s ease-out;
  transform: translateY(-100%);
}

/* CSS */
.button-64 {
  font-size: 2rem;
  color: var(--primary-black);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  margin: 2rem;
  background-color: var(--primary-white);
  border: none;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.button-64:hover,
.button-64:active {
  background-color: lightslategrey;
  filter: brightness(0);
}

.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 80% 50%, #f07363 0%, transparent 40%)
      top left,
    radial-gradient(
        circle at 30% 60%,
        rgba(101, 211, 110, 1) 0%,
        transparent 40%
      )
      bottom right;
  /* radial-gradient(
      circle at 80% 50%,
      #f07363 0%,
      #b15353 10%,
      #000000 30%,
      transparent 40%
    ) top left,
    radial-gradient(circle at 30% 60%, rgba(101,211,110,1) 0%, rgba(81,169,88,1) 20%, rgba(0,0,0,1) 30%, transparent 40%) bottom right; */
}

.home-btn-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  
  .home-btn-section {
    flex-direction: column;
  }
}

.home-selection-btn-left {
  font-size: 2rem;
  color: var(--primary-white);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  margin: 2rem;
  background-color: var(--primary-pink);
  border: none;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 5px 15px;
}

.home-selection-btn-right {
  font-size: 2rem;
  color: var(--primary-white);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  margin: 2rem;
  background-color: var(--primary-green);
  border: none;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 5px 15px;
}

.home-selection-btn-left:hover,
.home-selection-btn-right:hover,
.button-64:hover,
.home-selection-btn-left:active,
.home-selection-btn-right:active,
.button-64:active {
  transition: .4s;
  cursor: pointer;
  filter: brightness(110%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  color: var(--primary-black);
}

.login-to-spotify-btn {
  font-size: 2rem;
  color: var(--primary-white);
  border-radius: 1.5rem;
  padding: 1.5rem 3rem;
  margin: 2rem;
  background-color: var(--primary-green);
  border: none;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 5px 15px;
  text-decoration: none;
}

.login-to-spotify-btn:hover,
.login-to-spotify-btn:active {
  cursor: pointer;
  filter: brightness(110%);
}

.about-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-top: 3rem;
}

.about-page-container section {
  gap: 2rem;
}

.no-decoration {
  text-decoration: none;
  color: var(--primary-white);
}

.about-page-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem;
  max-width: 600px;
}

.link-to-github-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-green);
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 600;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  margin: 2rem;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-to-github-btn:hover,
.link-to-github-btn:focus {
  filter: brightness(110%);
}