/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#1ED760 , #1DB954  50%,#20C759);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: 2rem;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.home-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.home-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-button {
  background-color: rgb(78, 196, 255);
  font-weight: 600;
  font-size: 1.5rem;
  border: 0;
  border-radius: 5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 1rem;
}

.home-btn-section {
  display: flex;
  flex-direction: row;
}

.home-selection-btn-left {
  width: 50%;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 2rem 0rem 0rem 2rem;
}

.home-selection-btn-right {
  width: 50%;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0rem 2rem 2rem 0rem;
  padding: 1rem 2rem;
}