/* .nav-bar-container {
    background-color: aqua;
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    text-decoration: none;
    font-size: 2rem; 
    font-weight: 800;
}

.nav-links-container {
    display: flex;
    position: relative;
    float: right;
}

.nav-links-container li {
    list-style: none;
}

.nav-links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;  
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 4rem;
} */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-black);
  height: auto;
  width: 100%;
}

.navbar-menu-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-black);
  height: auto;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-link {
  color: var(--primary-white);
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-items-menu-active {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 18px;
  margin: 0;
  padding: 0 18px 18px 18px;
}

.nav-item {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 2rem;
}

.nav-link {
  color: var(--primary-white);
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  height: 48px;
  max-height: 100%;
}

.spotify-icon {
  display: block;
  height: 64px;
  max-height: 100%;
}

.nav-responsive-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  flex: 1;
}

.hr-divider {
  margin: 0;
  width: 100%;
  border: 1px solid var(--primary-green);
}


.logo-link:hover,
.nav-link:hover {
  color: var(--primary-green);
}

@media screen and (max-width: 768px) {
  .navbar-items {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .spotify-icon {
    display: none;
  }

  .nav-responsive-block {
    width: fit-content;
  }
}

.footer-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-white);
}
