@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.playlist-maker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.make-playlist-btn {
  align-items: center;
  background-color: #1db954;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.playlist-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 2rem;
}

.playlist-page-container h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.playlist-page-container h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.playlist-page-container h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.playlist-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.how-it-works-p {
  font-size: 1.5rem;
  font-weight: 400; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.how-it-works-hint {
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 400;
  margin-right: 3rem;
  margin-left: 3rem;
  font-style: italic;
}

.get-started-btn {
  background-color: var(--primary-green);
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 600;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  margin: 2rem;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.get-started-btn:hover,
.get-started-btn:focus {
  filter: brightness(110%);
}

.playlist-back-btn {
  background-color: var(--primary-white);
  
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.playlist-next-btn {
  background-color: var(--primary-pink);
  
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.playlist-back-btn:hover,
.playlist-back-btn:focus,
.playlist-next-btn:hover,
.playlist-next-btn:focus {
  filter: brightness(110%);
}

.sad-face-img {
  fill: var(--primary-white);
  color: var(--primary-white);
  filter: invert(100%);
}

.column-section {
  display: flex;
  flex-direction: column;
}

.column-section-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-section-with-margins {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.row-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: relative;
}

.search-bar-span {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-white);
  border-radius: 1rem;
}

.search-bar-span-opened {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-white);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media screen and (max-width: 680px) {
  .search-bar-span {
    display: flex;
    flex-direction: column;
  }
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  border-top: none;
  box-shadow: 0px 5px 5px black;;
  display: none;
}

.adjustable-width-large {
  width: 1000px;
}

@media screen and (max-width: 1080px) {
  .adjustable-width-large {
    width: 640px;
  }
}

@media screen and (max-width: 680px) {
  .adjustable-width-large {
    width: 100%;
  }
}

.adjustable-width-medium {
  width: 800px;
}

@media screen and (max-width: 1080px) {
  .adjustable-width-medium {
    width: 640px;
  }
}

@media screen and (max-width: 680px) {
  .adjustable-width-medium {
    width: auto;
  }
}

.search-bar-input {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 2rem 1rem 3rem;
  font-style: italic;
  outline: none;
  border: 0;
  width: 100%;
  display: block;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.search-bar-input:focus {
  border: 0;
}

.input-bar {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 2rem 1rem 3rem;
  font-style: italic;
  outline: none;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 1rem;
}

.search-bar-btn {
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 500;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: var(--primary-green);
  border: 0;
}

.search-bar-btn:hover,
.search-bar-btn:focus {
  filter: brightness(110%);
}

.selected-item-name-slip-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: fit-content;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
}

.remove-selected-x {
  color: var(--primary-black);
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.selected-item-name-slip {
  color: var(--primary-black);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.selected-item-name-slip-div:hover,
.selected-item-name-slip-div:focus {
  filter: brightness(90%);
}

.selected-items-div {
  display: flex;
  flex-wrap: wrap;
}

.item-result-slip {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: var(--primary-black);
  margin: 0.25rem 0rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.item-result-slip:hover,
.item-result-slip:focus {
  background-color: var(--primary-green);
  color: var(--primary-black);
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.selection-recommendations {
  text-align: left;
  width: 100%;
}

.rec-cards-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  grid-template-rows: repeat(2, 20rem);
}

.rec-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
  background-color: var(--primary-white);
  border-radius: 1rem;
  cursor: pointer;
}

.rec-card-container:hover {
  background-color: var(--primary-green);
}

.rec-card-container.selected {
  background-color: var(--primary-green);
}

.item-img {
  object-fit: cover;
  width: 12rem;
  height: 12rem;
  border-radius: 1rem;
}

.item-text {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--primary-black);
  max-width: 12rem;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* grid sizes breakpoints */

@media screen and (max-width: 1280px) {
  .rec-cards-container {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 10em);
  }

  .rec-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .item-img {
    width: 8rem;
    height: 8rem;
  }

  .item-text {
    width: fill-available;
    text-align: center;
  }
}

@media screen and (max-width: 680px) {
  .rec-cards-container {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8, 10em);
  }

  .rec-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    width: 90%;
  }

  .item-img {
    width: 6rem;
    height: 6rem;
  }
  .item-text {
    width: fit-content;
    text-align: center;
  }

  .playlist-back-btn, .playlist-next-btn {
    padding: 1rem 0 1rem 0;
    flex: 1;
    margin: 1rem;
  }
}


.progress-btn-div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: right;
}

.duration-input {
  font-size: 3rem;
  font-weight: 400;
  width: 8rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.min-text {
  margin-left: 2rem;
}

.input-with-warning-div {
  text-align: left;
}

.playlist-page-container .warning-text {
  color: red;
  font-size: 1rem;
  margin: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}