
.recommendation-div {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

.artist-input-text {
    padding: 5px 10px;
}

.artist-submit-btn {
    padding: 5px 10px;
}

/* CSS */
.action-btn {
  align-items: center;
  background-color: #1DB954;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.search-btn {
    background-color: #1DB954;
}
  
.search-btn:hover,
.search-btn:focus { 
    background-color: #0a8c38;
    color: #ffffff;
}

.clear-btn {
    background-color: #ff6868;
}
  
.clear-btn:hover,
.clear-btn:focus { 
    background-color: #ff5050;
    color: #ffffff;
}

.recommendation-btn {
    background-color: #FFD700;
    color: black;
}
  
.recommendation-btn:hover,
.recommendation-btn:focus { 
    background-color: #ceaf00;
    color: black;
}
  
/* .search-btn:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
  
.search-btn:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
} */

.artist-result-container {
    display: inline-grid;
    grid-template-columns: repeat(5, 10em);
    grid-template-rows: repeat(2, 5em);
    gap: 5em;
}

.artist-result-container div {
    cursor: pointer;
}

.artist-name {
    color: white;
    border: red 3px solid;
    font-weight: 500;
    font-size: 1.2em; 
}

.artist-name:hover {
    cursor: pointer;
    border: green 3px solid;
}

