.top-items-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 5rem;
}

.top-items-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

.top-items-subheading {
  text-align: center;
  font-size: 1.5;
  font-weight: 500;
  margin: 0;
}

.item-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.item-selector-btn {
  background-color: var(--primary-green-faded);
  color: var(--primary-white);
}

.item-selector-btn-selected {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

.item-selector-btn-first, .item-selector-btn-second {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2rem;
  padding: 1rem 2rem;
  transition: 0.3s;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 1rem;
  flex: 1;
}

.selector-btn:hover,
.selector-btn:active {
  filter: brightness(110%);
}

.top-items-display-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.term-tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.term-tab {
  background-color: transparent;
  color: var(--primary-white);
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem 2rem;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 1rem;
}

.term-tab:hover,
.term-tab:active {
  filter: brightness(110%);
}

.term-tab-selected {
  background-color: transparent;
  color: var(--primary-green);
  /* text-decoration: underline; */
  border-bottom: 5px solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem 2rem;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 500;
}

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-template-rows: repeat(5, 20em);
  place-items: center;
}

.item-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 1rem;
}

.item-text {
  font-size: 1.25rem;
  margin: 0;
  margin-top: 0.5rem;
  color: var(--primary-black);
  max-width: 12rem;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item-img {
  object-fit: cover;
  width: 12rem;
  height: 12rem;
  border-radius: 1rem;
}

.select-container {
  display: none;
  background-color: var(--primary-green);
  color: var(--primary-white);
  font-family: 'Montserrat', sans-serif;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 15rem;
  padding: 1rem 2rem;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
}

.select-container:focus {
  border-radius: 1rem 1rem 0 0;
}

.select-option {
  padding: 1rem 2rem;
  background-color: var(--primary-green-faded);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1280px) {
  .item-cards-container {
    grid-template-columns: repeat(3, 20em);
    grid-template-rows: repeat(10, 20em);
  }
}

@media screen and (max-width: 960px) {
  .item-cards-container {
    grid-template-columns: repeat(2, 20em);
    grid-template-rows: repeat(10, 20em);
  }
}

@media screen and (max-width: 680px) {
  .item-cards-container {
    grid-template-columns: repeat(1, 20em);
    grid-template-rows: repeat(20, 20em);
  }
}

@media screen and (max-width: 680px) {
  .item-selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 90%;
    max-width: 680px;
  }

  .item-selector-btn-first, .item-selector-btn-second {
    margin: 0 2rem;
    width: 100%;
  }

  .item-selector-btn-first {
    border-radius: 1rem 1rem 0 0 ;
  }

  .item-selector-btn-second {
    border-radius: 0 0 1rem 1rem ;
  }

  .term-tabs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .term-tabs-container {
    display: none;
  }

  .select-container {
    display: block;
    width: 90%;
    margin: 1rem;
  }
}

