.top-items-page {
    display: flex;
    flex-direction: column;
}

.top-items-heading {
    text-align: center;
}

.selector-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selector-btn {
    background-color: lightslategray;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 2rem;
    padding: 2rem 3rem;
    transition: 0.3s;
    font-size: 2rem;
    font-weight: 600;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.selector-btn-selected {
    background-color: darkslategray;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 2rem;
    padding: 2rem 3rem;
    transition: 0.3s;
    font-size: 2rem;
    font-weight: 600;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.top-items-display-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.term-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 15rem;
}

.term-tab {
    background-color: lightslategray;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 2rem;
    padding: 2rem 3rem;
    transition: 0.3s;
    font-size: 2rem;
    font-weight: 600;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.term-tab-selected {
    background-color: darkslategray;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 2rem;
    padding: 2rem 3rem;
    transition: 0.3s;
    font-size: 2rem;
    font-weight: 600;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.items-container {
    display: flex;
    justify-content: center;
}

.item-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 15em);
    grid-template-rows: repeat(2, 15em);
}

.item-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-img {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
}

@media screen and (max-width: 1080px) {
    .all-artists-cards-container {
        grid-template-columns: repeat(3, 15em);
        grid-template-rows: repeat(2, 15em);
    }
}

@media screen and (max-width: 640px) {
    .all-artists-cards-container {
        grid-template-columns: repeat(2, 15em);
        grid-template-rows: repeat(2, 15em);
    }
}